img{margin:20px;padding:5px; max-width:50%; max-height: 50%}
h1{font-size: 250%; margin:20px;padding:5px;}
h3{font-size:130%;margin:20px;padding:5px;}
p{font-size:100%;margin:20px;padding:5px;}
footer{padding:5px;}
